//colors
$color_0: #dedecb; //black for page bg
$color_1: #000; //pure black
$color_2: #fff;//pure white
$color_3: rgba(0, 0, 0, 0.42);
$color_4: #422F4F; //deepest purple
$color_5: #633482; //deep purple
$color_6: #7B24B5; //bright purple
$color_7: #9411EB; //brightest purple
$color_8: #A1404A; //deep red
$color_9: #EB0018; //red
$color_10: #4d4d4b;
$color_11: #f5f5f5;
$color_12: #efefef;
$color_13: #8ab3b5;
$color_14: #222222;
$color_15: #555;
$color_16: #fcfcfc;
$color_17: #ccc;
$color_18: #bbb;

//fonts
$font1: PT Serif, serif;
$font2: PT Mono;
