//colors
$color_0: #1c1c1c; //black for page bg
$color_1: #000; //pure black
$color_2: #fff;//pure white
$color_3: rgba(0, 0, 0, 0.42);
$color_4: #cb6077; //blush
$color_5: #000000; //black for text
$color_6: #3b3228; //dark brown
$color_7: #343434; //grey
$color_8: #4e4e4e; //lighter grey
$color_9: #1b1b1b; //almost black
$color_10: #4d4d4b; //lighter grey
$color_11: #f5f5f5; //almost white
$color_12: #efefef; //more grey than almost white
$color_13: #8ab3b5; //cyan
$color_14: #222222; //another almost black
$color_15: #555; //another grey
$color_16: #fcfcfc; //essentially white
$color_17: #ccc; //light grey
$color_18: #bbb; //medium light grey
$color_19: #422F4F; //deepest purple
$color_20: #633482; //deep purple
$color_21: #7E24B5; //bright purple
$color_22: #9411EB; //brightest purple
$color_23: #A1404A; //deep red
$color_24: #EB0018; //red

//fonts
$font1: PT Serif, serif;
$font2: PT Mono;
